<!-- ? Formulario reactivo básico -->
<form [formGroup]="miFormulario">
  <!-- *Previsualizacion de los valores del formulario -->
  <h2>Datos en vivo del formulario</h2>
  <!-- *Usaremos un pipes de angular de tipo JSON para pasar el objeto a un JSON y mostrarlo -->
  <p>{{ miFormulario.value | json }}</p>

  <!--* Campos del formulario -->
  <mat-form-field appearance="fill">
    <input matInput placeholder="Nombre" formControlName="nombre" />
  </mat-form-field>
  <input matInput placeholder="Apellidos" formControlName="apellidos" />
  <mat-form-field appearance="fill">
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Telefono" formControlName="telefono" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Dirección" formControlName="direccion" />
  </mat-form-field>
</form>
